/* Cart.css */
.user-list-header {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

.cart-item {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px 0;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
  flex: 0 0 30%; /* Adjust the image width */
  margin-right: 10px;
}

.product-image img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  margin-bottom: 5px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity label {
  font-size: 16px;
  margin-right: 5px;
}

.quantity select {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.checkout-button {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  border-radius: 8px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .product-image {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
