/* Home.css */

/* Make IonTitle white */
ion-title {
    color: white;
  }
  

/* Home.css or a separate CSS file */
.tabs{
  color: white; /* Change the text color of links to white */
}

/* Home.css or a separate CSS file */
.title-left {
  text-align: left; /* Set text alignment to left */
  margin-left: 16px; /* Add some left margin for spacing */
}


/* Home.css or a separate CSS file */

/* Place the home image across the screen */
img {
  width: 100%;
  height: auto;
}

/* Home.css or a separate CSS file */

/* Style the "Start Shopping Now" button */
ion-button.color-primary {
  /* position: absolute; */
  margin: 0 auto; /* Center the button horizontally */
  width: 60%; /* Adjust the width as needed */
  font-size: 14px; /* Adjust the font size as needed */
  padding: 12px 0; /* Adjust padding as needed */
  background-color: rgb(55, 55, 150); /* Background color for the button */
  color: white; /* Text color for the button */
  border-radius: 10px; /* Add some border radius for a rounded look */
}


main > div {
  text-align: center;
  font-weight: bold;
  /* margin: 0 auto;
  max-width: 80%; Adjust the maximum width as needed */
}

