/* ProductList.css */
.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .product-list-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .add-product-button {
    margin-bottom: 20px;
  }
  
  .product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
        margin-bottom: 10px;
      }

  
  .product-details {
    text-align: center;
  }
  
  
  .product-description {
    margin-top: 5px;
    font-size: 14px;
    display: none;
  }


  .product-price {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .edit-button {
    margin-top: 15px;
    text-align: center;
    color: #007bff;
    cursor: pointer;
  }

  @media only screen and (max-width:600px){
 #mobile-hide{
  display:none
 }
}
