/* UserList.css */
.user-list {
    text-align: center;
  }
  
  .user-list-header {
    color: black;
    margin-bottom: 20px;
  }
  
  .user-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user-card {
    width: calc(33.33% - 20px);
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .user-card-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-label {
    width: 80px; /* Adjust the width as needed */
    font-weight: bold;
    color: black;
  }
  
  .user-info {
    margin-left: 10px;
    color: black;
  }
  
  .edit-button {
    color: #007bff;
  }
  
  /* Add this media query to handle smaller screens */
  @media (max-width: 768px) {
    .user-card {
      width: calc(100% - 20px);
    }
  }
  